@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Italic.eot");
  src: url("/temas/login/fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Italic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Italic.woff") format("woff"), url("/temas/login/fonts/Montserrat-Italic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Italic.svg#Montserrat-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-BlackItalic.eot");
  src: url("/temas/login/fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-BlackItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-BlackItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-LightItalic.eot");
  src: url("/temas/login/fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-LightItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-LightItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-LightItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-SemiBold.eot");
  src: url("/temas/login/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-SemiBold.woff") format("woff"), url("/temas/login/fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-SemiBoldItalic.eot");
  src: url("/temas/login/fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Medium.eot");
  src: url("/temas/login/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Medium.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Medium.woff") format("woff"), url("/temas/login/fonts/Montserrat-Medium.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Black.eot");
  src: url("/temas/login/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Black.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Black.woff") format("woff"), url("/temas/login/fonts/Montserrat-Black.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-ExtraLight.eot");
  src: url("/temas/login/fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-ExtraLight.woff") format("woff"), url("/temas/login/fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Bold.eot");
  src: url("/temas/login/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Bold.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Bold.woff") format("woff"), url("/temas/login/fonts/Montserrat-Bold.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-MediumItalic.eot");
  src: url("/temas/login/fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-MediumItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-MediumItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-ThinItalic.eot");
  src: url("/temas/login/fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-ThinItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-ThinItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-ExtraBoldItalic.eot");
  src: url("/temas/login/fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-ExtraBold.eot");
  src: url("/temas/login/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-ExtraBold.woff") format("woff"), url("/temas/login/fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-ExtraLightItalic.eot");
  src: url("/temas/login/fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Light.eot");
  src: url("/temas/login/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Light.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Light.woff") format("woff"), url("/temas/login/fonts/Montserrat-Light.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Regular.eot");
  src: url("/temas/login/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Regular.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Regular.woff") format("woff"), url("/temas/login/fonts/Montserrat-Regular.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-Thin.eot");
  src: url("/temas/login/fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-Thin.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-Thin.woff") format("woff"), url("/temas/login/fonts/Montserrat-Thin.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/temas/login/fonts/Montserrat-BoldItalic.eot");
  src: url("/temas/login/fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/temas/login/fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("/temas/login/fonts/Montserrat-BoldItalic.woff") format("woff"), url("/temas/login/fonts/Montserrat-BoldItalic.ttf") format("truetype"), url("/temas/login/fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* main colors */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body, html {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

input {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 22.5px;
  max-width: 1280px;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.swiper-pagination > .swiper-pagination-bullet:only-child {
  display: none;
}

.no-js .lazy {
  display: none;
}

input[type=password]:focus,
input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3pt 2pt #b8b8b8;
          box-shadow: 0 0 3pt 2pt #b8b8b8;
}

select:focus {
  -webkit-box-shadow: 0 0 3pt 2pt #b8b8b8;
          box-shadow: 0 0 3pt 2pt #b8b8b8;
}

textarea:focus {
  -webkit-box-shadow: 0 0 3pt 2pt #b8b8b8;
          box-shadow: 0 0 3pt 2pt #b8b8b8;
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

.no-js body {
  display: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  background: #ffffff;
  height: auto;
}

.topo {
  width: 100%;
}

.topo .logotipo {
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.topo .logotipo img {
  max-width: 200px;
}

.topo .venda {
  text-align: center;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin: 30px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cabecalho .esquerda {
  width: auto;
}

.cabecalho .esquerda .bloco {
  width: 100%;
  margin-bottom: 20px;
}

.cabecalho .esquerda .bloco .label {
  font-weight: bold;
  display: block;
}

.cabecalho .esquerda .bloco .valor {
  display: block;
  margin-top: 10px;
}

.cabecalho .direita {
  width: auto;
}

.cabecalho .direita .bloco {
  width: 100%;
  margin-bottom: 20px;
}

.cabecalho .direita .bloco .label {
  font-weight: bold;
  display: block;
}

.cabecalho .direita .bloco .valor {
  display: block;
  margin-top: 10px;
}

.garrafas {
  width: 700px;
  margin: 0 auto;
}

.garrafas tr th {
  border: 1px solid #000;
  padding: 15px 0;
}

.garrafas tr th:nth-child(even) {
  border-left: 0;
}

.garrafas tr td {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 15px 10px;
  text-align: center;
}

.garrafas tr td:nth-child(even) {
  border-left: 0;
}

.pagamento {
  margin: 30px 0;
  margin-top: 40px;
}

.pagamento .layer {
  text-align: center;
  width: 100%;
  display: block;
}

.pagamento .valor {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  font-size: 17px;
}

.total {
  margin-top: 20px;
}

.total .layer {
  text-align: center;
  width: 100%;
  display: block;
}

.total .valor {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 25px;
}
/*# sourceMappingURL=imprimir.css.map */