//main: style.scss
//_variables.scss
$font: "Montserrat",
sans-serif;
$font-secondary: "Permanent Marker",
cursive;
$image-path:"/temas/guerin/imagens/";
$padding-wrapper:0 22.5px;
$wrapper-width:1280px;

/* main colors */

$background-color-staff: #000000;